-
  // для навигации — названия и имена файлов
  const PAGES = {
    "index": { name: "История", pageHref: "index" },
    "albums": { name: "Альбомы", pageHref: "albums" },
    "singles": { name: "Синглы, ремиксы, концертные записи", pageHref: "albums", secondary: true },
    "albumsOther": { name: "Альбомы, косвенно относящиеся к группе", pageHref: "albums", secondary: true },
    "lyrics": { name: "Тексты песен", pageHref: "lyrics" },
    //- "video": { name: "Видео", pageHref: "video" },
    "search": { name: "Поиск", pageHref: "search" },
  };

  // данные для ссылок на соцсети 🔗
  const SOCIAL_LINKS = [
    { name: "Facebook", lClass: "fb", href: "https://www.facebook.com/DeepForest", iconSize: [10, 21] },
    { name: "Instagramm", lClass: "insta", href: "https://www.instagram.com/deepforestofficial/", iconSize: [21, 21] },
    { name: "Youtube", lClass: "ytb", href: "https://www.youtube.com/channel/UCSCnPN56BRVSDBacr5oeTag", iconSize: [29, 21] },
  ];

