extends page/_page-layout.pug

block prepend variables
  - const currentPage = PAGES["index"].pageHref;
  - const pageTitle = "Deep Forest music";

block main
  -
    // разделение данных на главы по заголовкам
    let historyTextStrucure = [];
    let headingsPositions = [];

    for (i = 0; i < historyData.length; i++) {
      if (historyData[i].heading) headingsPositions.push(i)
    }

    for (i = 0; i < headingsPositions.length; i++) {
      const section = [];
      for (j = headingsPositions[i]; j < ( headingsPositions[i + 1] ?? (historyData.length)) ; j++) {
        section.push(historyData[j]);
      }
      historyTextStrucure.push(section);
    }

  main.main
    section.history
      .wrapper--ext
        h1.history__heading История группы
        each chapter in historyTextStrucure
          .history__chapter
            each item in chapter
              if item.heading
                h2.visuallyhidden= item.heading
              if item.text
                p(class= item.class)= item.text
              if item.image
                .history__image(class= item.class)
                  +pictureAdaptiveJpgWebp({filename: item.image, altText: item.altText})
