extends page/_page-layout.pug

block prepend variables
  - const currentPage = PAGES["index"].pageHref;
  - const pageTitle = "Deep Forest music";

block main
  main.main
    h1.visuallyhidden История группы Deep Forest.
    .wrapper.history
      section.history__begining
        h2.visuallyhidden Deep Forest: начало
        p.history__mini-title Deep Forest — музыкальный проект, который начинался как дуэт музыкантов — Эрика Муке (Eric Mouquet) и Мишеля Санчеса (Michel Sanchez). Они были хорошо известны у себя на родине во франции и В основном работали с рок-группами.
        p.history__inset Заниматься музыкой Мишель начал уже в 4 года благодаря урокам господина Альберто, который не только учил мальчика игре на аккордеоне, но и открыл ему чарующий мир джаза, покоривший юного Мишеля раз и навсегда.
        p.history__text В 15 лет юноша поступил в консерваторию, где осваивал фортепиано, орган и перкуссию, а затем — в Парижскую консерваторию по классу органа. Буквально влюбившись в инструмент, Мишель проводит многие часы за упражнениями, штудируя наследие Мориса Равеля, Жана Гиллу, Марселя Дюпре, Анри Дютилле и классиков 20 столетия.
        p.history__text В то же время он открывает для себя многообразие этнической музыки – африканской, индийской, южно-американской, восточной, и загорается идеей соединить эти элементы воедино.
        p.history__large-text «Этническая музыка поселилась в моём сердце ещё во время учёбы в Парижской Консерватории, — вспоминает Мишель. — Я слушал африканские песни и записывал свои ощущения на бумагу, всё время удивляясь, как им удаётся так здорово играть, петь и звучать».
        p.history__text Однажды ему попался сборник с парой народных запевов из Соломоновых островов. Мишель сразу разглядел в них материал для своего музыкального дебюта, решив гармонизировать оригинальные песнопения с помощью синтезатора.
