.history {
  position: relative;
  padding-top: 25px;
  overflow: hidden;

  @media (min-width: $small-desktop-width) {
    padding-top: 50px;
  }
}

.history::before {
  content: "";
  position: absolute;
  width: 276px;
  height: 95px;
  top: 17px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background: no-repeat url("../img/heading-backlight-m.jpg");
  animation: 3s linear infinite apparition;

  @media (min-width: $small-desktop-width) {
    width: 969px;
    height: 333px;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../img/heading-backlight-d.jpg");
  }
}

.history::after {
  @media (min-width: $small-desktop-width) {
    content: "";
    position: absolute;
    width: 1766px;
    height: 1845px;
    top: 335px;
    right: 50%;
    transform: translateX(56.5%);
    z-index: -5;
    background: no-repeat url("../img/history-top-glow-d.jpg");
    animation: 7s linear infinite apparition;
  }
}

.history__heading {
  margin: 0 20px 50px;
  padding: 15px;
  letter-spacing: 0.48px;
  border: {
    style: solid none;
    color: $palette-dim;
    width: 0.5px;
  }

  text-transform: uppercase;
  text-align: center;
  cursor: default;

  @include font-primary(24px);

  @media (min-width: $tablet-width) {
    margin: 0 12.5% 50px;
  }

  @media (min-width: $small-desktop-width) {
    padding: 47px;
    margin: 0 0 150px;
  }
}

$sdgap: 48px;
$dgap: 49px;
$sdfr: calc(($small-desktop-content - $sdgap * 2) / 3);
$dfr: calc(($desktop-content - $dgap * 2) / 3);
$sdfr-part: $sdfr - 209px;
$dfr-part: $dfr - 256px;

.history__chapter {
  @media (min-width: $small-desktop-width) {
    display: grid;
    grid-template-columns: $sdfr $sdfr $sdfr;
    column-gap: $sdgap;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: $dfr $dfr $dfr;
    column-gap: $dgap;
  }
}

.history__chapter > * {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  @media (min-width: $small-desktop-width) {
    margin-left: unset;
    margin-right: unset;
  }
}

.history__image {
  margin: 0 auto 40px;
  max-width: max-content;

  @media (min-width: $small-desktop-width) {
    margin: 0 0 50px;
  }
}

.history__chapter img {
  display: block;
  margin: auto;

  @media (min-width: $small-desktop-width) {
    width: auto;
    margin: unset;
  }
}

.history__chapter p {
  margin-top: 0;
  margin-bottom: 40px;

  @include font-primary;

  @media (min-width: $small-desktop-width) {
    margin-bottom: 50px;
  }
}

.history__chapter .accent {
  text-transform: uppercase;

  @include font-primary($line-height: 150%);

  color: $palette-accent;
}

.history__chapter .indent {
  margin-left: calc((100% - 239px) / 2);
  margin-right: 10%;

  @media (min-width: $small-desktop-width) {
    margin-left: unset;
    margin-right: unset;
  }
}

.history__chapter .inset {
  @include font-title;

  @media (min-width: $small-desktop-width) {
    font-size: 24px;
  }
}

.history__chapter .large {
  @include font-title;
}

.history__chapter .desktoponly {
  display: none;

  @media (min-width: $small-desktop-width) {
    display: block;
  }
}

// ------------------------------- grid settings -------------------------------

@mixin fullrow {
  @media (min-width: $small-desktop-width) {grid-column: span 3}
}

@mixin twothirdsrow {
  @media (min-width: $small-desktop-width) {grid-column: span 2}
}

@mixin margin-1-fr {
  @media (min-width: $small-desktop-width) {margin-left: calc($sdfr + $sdgap)}

  @media (min-width: $desktop-width) {margin-left: calc($dfr + $dgap)}
}

@mixin margin-part-fr {
  @media (min-width: $small-desktop-width) {margin-left: 197px}

  @media (min-width: $desktop-width) {margin-left: 179px}
}

@mixin margin-1p-fr {
  @media (min-width: $small-desktop-width) {margin-left: calc($sdfr + $sdgap + 197px)}

  @media (min-width: $desktop-width) {margin-left: calc($dfr + $dgap + 179px)}
}

@mixin margin-2-fr {
  @media (min-width: $small-desktop-width) {margin-left: calc(($sdfr + $sdgap) * 2)}

  @media (min-width: $desktop-width) {margin-left: calc(($dfr + $dgap) * 2)}
}

// -------------------------- первая часть --------------------------
.history__chapter:nth-of-type(1) {
  & p:nth-of-type(1) {
    @media (min-width: $small-desktop-width) {
      width: 290px;
      margin-bottom: 0;
    }

    @include fullrow;
  }

  & p:nth-of-type(2) {
    @media (min-width: $small-desktop-width) {width: 433px}

    @include fullrow;
    @include margin-1-fr;
  }

  & p:nth-of-type(3) {
    @media (min-width: $small-desktop-width) {
      width: 484px;
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {width: 441px}

    @include fullrow;
    @include margin-1-fr;
  }

  & p:nth-of-type(4) {
    @media (min-width: $small-desktop-width) {width: 276px}

    @media (min-width: $desktop-width) {width: 256px}

    @include fullrow;
    @include margin-1p-fr;
  }
  
  & p:nth-of-type(5) {
    @media (min-width: $small-desktop-width) {margin-bottom: 100px;}

    @include fullrow;
    @include margin-1-fr;
  }

  & p:nth-of-type(6) {
    @media (min-width: $small-desktop-width) {
      width: 237px;
      margin-bottom: 100px;
    }

    @media (min-width: $desktop-width) {width: 270px}

    @include fullrow;
    @include margin-1p-fr;
  }

  & .history__image:nth-of-type(1) {
    @media (min-width: $small-desktop-width) {
      margin-top: 140px;
      margin-bottom: 25px;
    }

    @media (min-width: $desktop-width) {margin-bottom: 5px}

    @include glow(415, 1100, top, -125, -350, right, -85, -480, "ellipse4");
    @include b-spin;
  }

  & .history__image:nth-of-type(2) {
    @media (min-width: $small-desktop-width) {
      grid-column: span 2;
      grid-row-start: 6;
    }
  }

  & .history__image:nth-of-type(3) {
    @media (min-width: $small-desktop-width) {
      margin-bottom: 78px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 31px;
    }

    @include fullrow;
    @include margin-1p-fr;
    @include glow(530, 844, top, -180, -250, left, -100, -20, "ellipse15");
    @include b-spin;
  }
}

// -------------------------- вторая часть --------------------------
.history__chapter:nth-of-type(2) {
  & .history__image:nth-of-type(1) {
    @media (min-width: $small-desktop-width) {
      grid-row: 1 / span 2;
      margin: 0;
    }

    @include glow(412, 998, top, -105, -200, right, -70, -230, "ellipse5");
    @include b-scale;
  }

  & p:nth-of-type(1) {
    @media (min-width: $small-desktop-width) {
      width: 433px;
      margin-top: 72px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {margin-top: 119px}

    @include twothirdsrow;
  }

  & p:nth-of-type(2) {
    @media (min-width: $small-desktop-width) {
      min-width: 236px;
      margin-top: 50px;
      margin-bottom: 100px;
    }

    @media (min-width: $desktop-width) {min-width: 256px}

    @include margin-part-fr;
  }

  & p:nth-of-type(3) {
    @media (min-width: $small-desktop-width) {
      width: 244px;
      margin-top: 50px;
    }

    @media (min-width: $desktop-width) {width: 262px}
  }

  & p:nth-of-type(4) {
    @media (min-width: $small-desktop-width) {width: 438px}

    @include fullrow;
    @include margin-1-fr;
  }

  & p:nth-of-type(5) {
    @media (min-width: $small-desktop-width) {
      width: 238px;
      margin-bottom: 100px;
    }

    @media (min-width: $desktop-width) {width: 255px}

    @include fullrow;
    @include margin-1p-fr;
  }
}

// -------------------------- третья часть --------------------------
.history__chapter:nth-of-type(3) {
  & p:nth-of-type(1) {
    @media (min-width: $small-desktop-width) {width: 280px}
  }

  & p:nth-of-type(2) {
    @media (min-width: $small-desktop-width) {
      width: 453px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      grid-row: span 2;
    }
  }

  & p:nth-of-type(3) {
    @media (min-width: $small-desktop-width) {
      width: 236px;
      margin-top: 200px;
    }

    @media (min-width: $desktop-width) {
      width: 255px;
      margin-top: 145px;
    }

    @include margin-part-fr;
  }

  & p:nth-of-type(4) {
    @media (min-width: $small-desktop-width) {
      grid-column: span 3;
      width: 433px;
      margin-left: calc($sdfr + $sdgap);
      margin-bottom: 150px;
    }

    @media (min-width: $desktop-width) {
      grid-column: span 2;
      margin-left: 0;
    }
  }

  & p:nth-of-type(5) {
    @media (min-width: $small-desktop-width) {
      width: 237px;
      margin-bottom: 100px;
    }
  }

  & p:nth-of-type(7) {
    @media (min-width: $small-desktop-width) {
      grid-row: span 2;
    }

    @include fullrow;
    @include margin-2-fr;
  }

  & p:nth-of-type(8) {
    @media (min-width: $small-desktop-width) {
      width: 300px;
      margin-bottom: 80px;
    }

    @include twothirdsrow;
  }

  & p:nth-of-type(9) {
    @media (min-width: $small-desktop-width) {min-width: 237px}

    @media (min-width: $desktop-width) {margin-bottom: 90px}

    @include margin-part-fr;
  }

  & p:nth-of-type(10) {
    @media (min-width: $small-desktop-width) {
      width: 217px;
      margin-bottom: 100px;
    }

    @media (min-width: $desktop-width) {width: 237px}

    @include twothirdsrow;
    @include margin-1-fr;
  }

  & p:nth-of-type(11) {
    @media (min-width: $small-desktop-width) {margin-bottom: 80px}

    @include twothirdsrow;
    @include margin-1-fr;
  }

  & p:nth-of-type(12) {
    @media (min-width: $small-desktop-width) {
      min-width: 224px;
      margin-bottom: 100px;
    }

    @include twothirdsrow;
    @include margin-1p-fr;
  }

  & p:nth-of-type(13) {
    @media (min-width: $small-desktop-width) {
      width: 230px;
      margin-bottom: 100px;
    }

    @media (min-width: $desktop-width) {width: 255px}

    @include fullrow;
    @include margin-1p-fr;
  }

  & .history__image:nth-of-type(1) {
    @media (min-width: $small-desktop-width) {
      grid-column: span 2;
      margin-bottom: 150px;
    }
    
    @include glow(383, 882, top, -110, -165, left, -90, -280, "ellipse18");
    @include b-scale;
  }

  & .history__image:nth-of-type(2) {
    @media (min-width: $small-desktop-width) {
      grid-row-start: 2;
      grid-column-start: 3;
      margin-top: 200px;
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {margin-top: 145px}
    
    @include glow(756, 806, top, -260, -295, left, -190, -240, "ellipse13");
    @include b-spin;
  }

  & .history__image:nth-of-type(3) {
    @media (min-width: $small-desktop-width) {
      grid-column: 1 / span 2;
      grid-row: 4 / span 2;
      margin: 0;
    }
    
    @include glow(378, 1138, top, -140, -230, left, 50, -260, "ellipse7");
    @include b-scale;
  }

  // & .history__image:nth-of-type(4) {
  //   @media (min-width: $small-desktop-width) {
  //     grid-row: span 2;
  //     margin: 27px 0 100px;
  //   }

  //   @media (min-width: $desktop-width) {margin-top: 100px}

  //   @include twothirdsrow;
  //   @include margin-1-fr;
  // }

  & .history__image:nth-of-type(4) {
    @media (min-width: $small-desktop-width) {grid-row: span 2}

    @media (min-width: $desktop-width) {width: 484px}
  }

  & .history__image:nth-of-type(5) {
    @media (min-width: $small-desktop-width) {
      grid-column-start: 3;
      grid-row: 8 / span 2;
    }
    
    @include glow(856, 1023, top, -245, -155, left, -190, -165, "ellipse6", "ellipse6-d");
    @include b-spin;
  }

  & .history__image:nth-of-type(6) {
    @media (min-width: $small-desktop-width) {
      grid-row: span 2;
      align-self: end;
      margin-bottom: 100px;
    }
    
    @include glow(660, 985, top, -210, -230, left, -120, -330, "ellipse12");
    @include b-scale;
  }

  & .history__image:nth-of-type(7) {
    @media (min-width: $desktop-width) {margin-left: 40px}

    @include fullrow;
    @include glow(512, 737, top, -150, -185, left, -110, -95, "ellipse17", "ellipse17-d");
    @include b-spin;
  }
}

// ------------------------- четвёртая часть ------------------------
.history__chapter:nth-of-type(4) {
  & p:nth-of-type(1) {
    @media (min-width: $small-desktop-width) {
      width: 418px;
      margin-bottom: 100px;
    }

    @media (min-width: $desktop-width) {width: 433px}

    @include fullrow;
    @include margin-1-fr;
  }

  & p:nth-of-type(2) {
    @media (min-width: $small-desktop-width) {
      width: 264px;
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      width: 255px;
      margin-bottom: 50px
    }

    @include fullrow;
    @include margin-1p-fr;
  }

  & p:nth-of-type(3) {
    @media (min-width: $small-desktop-width) {width: 433px}

    @include twothirdsrow;
  }

  & p:nth-of-type(4) {
    @media (min-width: $small-desktop-width) {
      width: 433px;
      margin-bottom: 0;
    }

    @include twothirdsrow;
  }

  & .history__image:nth-of-type(1) {
    @media (min-width: $small-desktop-width) {margin-bottom: 50px}

    @include fullrow;
    @include margin-1p-fr;
  }

  & .history__image:nth-of-type(2) {
    @media (min-width: $small-desktop-width) {
      grid-column-start: 1;
      grid-row: 4 / span 2;
      justify-self: end;
      margin-bottom: 0;
    }

    @include glow(780, 780, top, -200, -195, left, -160, -305, "ellipse8");
    @include b-spin;
  }
}

// -------------------------- пятая часть --------------------------
.history__chapter:nth-of-type(5) {
  & p:nth-of-type(1) {
    @media (min-width: $small-desktop-width) {
      width: 433px;
      margin-top: 150px;
    }

    @include fullrow;
    @include margin-1-fr;
  }

  & p:nth-of-type(2) {
    @media (min-width: $small-desktop-width) {
      width: 263px;
      margin-bottom: 150px;
    }

    @media (min-width: $desktop-width) {width: 253px}

    @include fullrow;
    @include margin-1p-fr;
  }

  & .history__image:nth-of-type(1) {
    @include fullrow;
    @include margin-1-fr;
  }
}

// -------------------------- шестая часть --------------------------
.history__chapter:nth-of-type(6) {
  & p:nth-of-type(1) {
    @media (min-width: $small-desktop-width) {width: 280px}
  }

  & p:nth-of-type(2) {
    @media (min-width: $small-desktop-width) {
      width: 405px;
      margin-bottom: 30px;
    }

    @media (min-width: $desktop-width) {width: 433px}

    @include fullrow;
    @include margin-1-fr;
  }

  & p:nth-of-type(3) {
    @media (min-width: $small-desktop-width) {
      width: 215px;
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {width: 256px}

    @include fullrow;
    @include margin-1p-fr;
  }

  & p:nth-of-type(4) {
    @media (min-width: $small-desktop-width) {margin-top: 50px}
  }

  & .history__image:nth-of-type(1) {
    @include twothirdsrow;
  }

  & .history__image:nth-of-type(2) {
    @media (min-width: $small-desktop-width) {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    @include glow(699, 895, top, -225, -330, left, -155, -225, "ellipse11");
    @include b-scale(7s);
  }

  & .history__image:nth-of-type(3) {
    @include glow(425, 733, bottom, -280, -330, right, 135, -225, "ellipse52", "ellipse52-d");
    @include b-scale;
  }

  & .history__image:nth-of-type(4) {
    @media (min-width: $small-desktop-width) {margin-bottom: 150px}

    @include fullrow;
    @include margin-1-fr;
  }
}

// ------------------------- седьмая часть -------------------------
.history__chapter:nth-of-type(7) {
  & p:nth-of-type(1) {
    @media (min-width: $small-desktop-width) {
      width: 435px;
      margin-bottom: 40px;
    }

    @include glow(643, 1012, top, -60, -355, left, 10, -630, "ellipse19", "ellipse19-d");
    @include b-scale(9s);
  }

  & p:nth-of-type(2) {
    @media (min-width: $small-desktop-width) {
      align-self: end;
      width: 238px;
      margin-bottom: 50px;
    }
    
    @media (min-width: $desktop-width) {width: 256px}

    @include twothirdsrow;
    @include margin-part-fr;
  }

  & p:nth-of-type(3) {
    @media (min-width: $small-desktop-width) {
      width: 433px;
      margin-bottom: 150px;
    }

    @include fullrow;
    @include margin-1-fr;
  }
}

// ------------------------- восьмая часть -------------------------
.history__chapter:nth-of-type(8) {
  & p:nth-of-type(1) {
    @media (min-width: $small-desktop-width) {width: 280px}
  }

  & .history__image:nth-of-type(1) {
    @media (min-width: $small-desktop-width) {margin-bottom: 0}

    @include twothirdsrow;
  }

  & .history__image:nth-of-type(2) {
    @media (min-width: $small-desktop-width) {
      min-width: 880px;
      margin-top: 100px;
      margin-bottom: 100px;
    }

    @include twothirdsrow;
  }

  & .history__image:nth-of-type(4) {
    @media (min-width: $small-desktop-width) {margin-bottom: 100px}

    @include fullrow;
    @include margin-1-fr;
    @include glow(486, 1202, bottom, -5, -190, left, -75, -205, "ellipse10");
    @include b-scale(3s);
  }
}
