// Colors
// color-binding
$dark-jungle-green: #1c231e;
$emerald: #3fc775;
$silver: #a8a8a8;

// layout variables
$palette-darkcontrast: #000000;
$palette-brightcontrast: #ffffff;
$palette-prime: $palette-brightcontrast;
$palette-back: $dark-jungle-green;
$palette-accent: $emerald;
$palette-dim: $silver;

// Content
// Viewports
$mobile-width: 360px;
$tablet-width: 660px;
$small-desktop-width: 1400px;
$desktop-width: 1600px;

// content
$mobile-content: $mobile-width - 40; // 320
$tablet-content: $tablet-width - 30; // 630
$small-desktop-content: $small-desktop-width - 80; // 1320
$desktop-content: $desktop-width - 200; // 1400
